@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
body{
  height: 111vh;
  width: 100%;
  background-image: url(https://coa.artrights.me/a490b3eb7dc592d6ec015328570b977d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  overflow: hidden;
  height: 7vh;
  width: 100%;
  background-color: #634422;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 56;
}

header .container {
  margin: 0 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
}

header .container button {
  background-color: #be7c30;
  margin: 0;
  padding: 0;
}

header .container button img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-color: white;
  width: 48px;
  border-radius: 50%;
  border: 1px solid white;
}

header .container button :hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

header .container .header-text {
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  max-width: 75vw;
  margin: 0 auto;
  padding-top: 7vh;
  position: relative;
}

main .bt {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #CE952F;
  color: rgb(0, 0, 0);
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 1px rgba(0,0,0,0.5);
}
main .bt:active{
  
  box-shadow: none;
  background-color: rgb(255, 236, 236);
  color: rgb(0, 0, 0);
}



/* main .bt :active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
} */

main .main_block {
  margin-top: -15px;
}

main .main_block .block_forms {
  max-width: 700px;
  margin: 0 auto;
  padding: 12px 25px;
  border: 1.5px solid thistle;
  background-color: white;
  -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

main .main_block .block_forms .forms_button {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;
  color: rgb(66, 48, 7);
}

main .main_block .block_forms .forms_button img {
  background-color: white;
  width: 30px;
}

main .main_block .block_forms .forms_button:active {
  color: #d68645;
}

main .main_block .block_forms .forms_time {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  border-bottom: 3px solid black;
}

main .main_block .block_forms .forms_time img {
  width: 25px;
}

main .main_block .block_forms .forms_time input {
  width: 100%;
  text-align: start;
  font-size: 20px;
  padding: 0 8px;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

/* main .main_block .block_forms .forms_time :focus {
  background-color: rgba(228, 207, 228, 0.466);
  border-radius: 50px;
  border-bottom: 2px solid magenta;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
} */

main .main_block .block_forms .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .main_block .block_forms .checkbox .container .checkmark4 {
  background-color: #08ff1d;
}

main .bt2 button {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main .bt2 button img {
  width: 70px;
  background-color: white;
  border-radius: 50%;
}


main .bt2 button:active {
  
  box-shadow: none;
  background-color: rgb(255, 236, 236);
  color: rgb(0, 0, 0);
}

.container .checkmark:after {
  border: solid white;
}

.container {
  margin-top: 12px;
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.spantest {
  font-family: 'Montserrat', sans-serif;
  width: 94.7%;
  position: absolute;
  left: 9px;
  bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  cursor: default;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2px;
  left: -1px;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid black;
  z-index: 50;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  overflow: hidden;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #cfb4cf;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #52dd11;
}

.checkmark2 {
  background-color: red;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.checkmark3 {
  background-color: #26ff00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7.7px;
  top: 3.5px;
  width: 6px;
  height: 13px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

body .block_forms {
  display: none;
}

.block {

}
.sure{
  width: 110px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #CE952F;
  color: rgb(0, 0, 0);
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 1px rgba(0,0,0,0.5);
}
